<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>코스 내의 사진 촬영 기능을 사용하기 위해서 카메라를 권한이 필요합니다.
	Permission is required for taking pictures in course creation.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>코스 내의 사진 선택 기능을 사용하기 위해서 카메라를 권한이 필요합니다.
	The camera needs permission to use the photo selection function in the course.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>네이버 지도에서 내 위치를 확인하기 위해서 위치 권한이 필요합니다.
	I need location authority to check my location on the Naver map.</string>
	<key> NSPhotoLibraryAddUsageDescription</key>
	<string>코스 내의 수정된 사진을 저장하기 위해서 권한이 필요합니다.
	Permission is required to save the modified picture when creating the course.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsMultipleScenes</key>
	<false/>
</dict>
</plist>
